/* 
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  color: rgb(244, 51, 151);
 */

/* Nav Bar Container */
.navCont {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* Upper Nav Bar Container */
.upperNaV {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: none;
  padding: 0 70px;
  border-bottom: 1px solid rgb(211, 210, 210);
}
/* Upper Nav Bar Left Elements */
.upperNav_left {
  min-width: 43.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* meShop Logo */
.meshopLogo {
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-size: 32px;
  color: rgb(244, 51, 151);
  letter-spacing: 2px;
  cursor: pointer;
}
/* Search Form in Nav Bar */
.navSearchForm {
  display: flex;
  align-items: center;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 5px;
  min-width: 72%;
  padding: 10px 15px;
}

.navSearchForm svg {
  width: 22px;
  height: 22px;
}

.navSearchForm svg path {
  fill: rgb(147, 147, 147);
}

.navSearchForm input {
  width: 100%;
  margin-left: 10px;
}

.navSearchForm input::placeholder {
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  font-size: 15.5px;
  color: rgb(147, 147, 147);
}

.navSearchForm input:focus {
  outline: none;
  border: none;
  caret-color: rgb(244, 51, 151);
  color: black;
}

.navSearchForm button {
  color: rgb(128, 128, 128);
  font-weight: 600;
  font-size: 16px;
}

/* Upper Nav Right Elements */
.upperNav_right {
  width: 41%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

/* Download App */
.download_app {
  min-width: 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.download_app:hover {
  border-bottom-color: rgb(244, 51, 151);
  color: rgb(244, 51, 151);
}
.download_app svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.download_app:hover svg path {
  fill: rgb(244, 51, 151);
}
.download_app p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

/* Become a Supplier */
.supplierCont {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 3px solid rgb(211, 210, 210);
  border-right: 3px solid rgb(211, 210, 210);
  padding: 0 23px;
}
.supplierCont p:hover {
  color: rgb(244, 51, 151);
}
.supplierCont p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

/* Profile and Cart Container */
.profile_cart_cont {
  min-width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
/* Profile */
.profileCont {
  padding-top: 15px;
  height: 100%;
  cursor: pointer;
  width: 80px;
  border-bottom: 3px solid transparent;
}
.profileCont:hover {
  color: rgb(244, 51, 151);
  border-bottom-color: rgb(244, 51, 151);
}
.profileCont svg {
  height: 20px;
  width: 20px;
  margin: auto;
}
.profileCont:hover svg path {
  fill: rgb(244, 51, 151);
}
.profileCont p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

/* Cart */
.cartDiv {
  padding-top: 15px;
  height: 100%;
  cursor: pointer;
  width: 80px;
  border-bottom: 3px solid transparent;
}
.cartDiv:hover {
  color: rgb(244, 51, 151);
  border-bottom-color: rgb(244, 51, 151);
}
.cartDiv svg {
  height: 20px;
  width: 20px;
  margin: auto;
}
.cartDiv:hover svg path {
  stroke: rgb(244, 51, 151);
}
.cartDiv p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

/* Common Css For Drop Down Menus */
.dropdownMenus {
  position: "absolute";
  z-index: 1100;
  border: 1px solid rgb(240, 240, 240);
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 8px 8px;
  box-shadow: rgba(34, 34, 34, 0.12) 0px 2px 4px,
    rgba(34, 34, 34, 0.12) 0px 0px 1px;
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* Nav Search PopUp Dropdown */
.searchPopup {
  width: 412px;
  overflow-x: hidden;
  max-height: "400px";
  padding: 20px 15px;
}
.searchPopup h1 {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  text-align: left;
}
.titleHolderDiv {
  display: flex;
  margin-top: 15px;
}
.firstDefaultCont {
  width: 75%;
  align-items: center;
  justify-content: space-between;
}
.secondDefaultCont {
  width: 93%;
  align-items: center;
  justify-content: space-between;
}
.threeDefaultCont {
  width: 73%;
  align-items: center;
  justify-content: space-between;
}

.defaultNavSearchtitles {
  background-color: rgb(247, 246, 246);
  border-radius: 20px 20px 20px 20px;
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(114, 114, 114);
  line-height: 1.5;
  border: 1px solid rgb(240, 240, 240);
  padding: 5px 15px;
}

/* Category Title Nav Css */
.cateNav {
  height: 50px;
  width: 100%;
  background: white;
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-top: 5px;
}
.navCateCont {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}
.navCateDivs {
  height: 100%;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navCateDivs:hover {
  color: rgb(244, 51, 151);
  border-bottom-color: rgb(244, 51, 151);
}
.navCateDivs p {
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
