.PPOuterCont {
  margin-top: 100px;
  width: 100%;
}

.PPInnerCont {
  margin: auto;
  width: 75%;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

/* Left Side Div */
.PPleftDiv {
  width: 43.5%;
}
.imageHolderDiv {
  width: 100%;
  height: 472px;
  border-radius: 4px;
  border: 1px solid rgb(240, 240, 240);
  position: relative;
  padding: 15px;
}
.imageHolderDiv img {
  margin: auto;
  width: 100%;
  height: 100%;
}
.CartAndBuyDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border-bottom: 1px solid rgb(214, 212, 212);
}
.ProductCartLink {
  display: flex;
  cursor: pointer;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0015em;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  color: black;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 12px;
  justify-content: center;
  width: 48%;
  font-weight: 600;
}
.ProductCartLink:hover {
}
.ProductCartLink h1 {
  margin-right: 5px;
  margin-left: 5px;
}
.ProductBuyLink {
  cursor: pointer;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0015em;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background: rgb(244, 51, 151);
  border: none;
  padding: 12px;
  display: flex;
  justify-content: center;
  width: 48%;
  font-weight: 600;
}
.ProductBuyLink:hover {
  background: rgb(251, 76, 166);
}
.ProductBuyLink h1 {
  margin-right: 5px;
  margin-left: 5px;
}
.SimProDiv {
  margin-top: 20px;
}

.SimProDiv h1 {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
}
.SimProDiv h1 p {
  margin-right: 8px;
}
.SimProImgDiv {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.SimProImg {
  margin-left: 12px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  height: 94px;
  border: 2.21348px solid rgb(244, 51, 151);
  transition: transform 0.6s ease-in-out 0s;
}

/* Right Side Div */

.PPrightDiv {
  width: 53.5%;
}
.ProductNameCont {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 20px 16px;
  border: 1px solid rgb(240, 240, 240);
  text-align: left;
}
.ProductNameCont h1:nth-child(1) {
  color: rgb(153, 153, 153);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.ProductNameCont h1:nth-child(2) {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 8px;
  display: flex;
  align-items: top;
}
.TopratingText {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 3px;
}
.SPratingsReview {
  margin-left: 8px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.FreeDelivery {
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  color: rgb(102, 102, 102);
  background: rgb(249, 249, 249);
  padding: 4px 8px;
  border-radius: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  margin-top: 10px;
}

.MoreDetDiv {
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 20px 16px;
  border: 1px solid rgb(240, 240, 240);
}
.commonHeading {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}
.MoreDetDiv p {
  color: rgb(102, 102, 102);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.moreInfoLink {
  border-bottom: 0.8px dashed rgb(102, 102, 102);
  margin: 8px 0px 16px;
  display: block;
  width: fit-content;
  cursor: pointer;
  color: rgb(102, 102, 102);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.SoldByDiv {
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 17px 18px 21px 16px;
  border: 1px solid rgb(240, 240, 240);
}
.SoldByChildDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SellerNameDiv {
  display: flex;
  align-items: center;
}
.SellerIconDiv {
  height: 72px;
  width: 72px;
  left: 36px;
  border-radius: 50%;
  background: url(https://images.meesho.com/images/pow/shop_profile.png) center
    center / contain no-repeat;
  bottom: 4px;
  border: 0.5px solid rgb(240, 240, 240);
}
.SellerNameDiv h1 {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin: 0px;
  padding: 0px 50px 0px 12px;
}
.SoldByChildDivbutton {
  color: rgb(244, 51, 151);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.0015em;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 8px 30px;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  max-width: 160px;
  border: 1px solid rgb(244, 51, 151);
}
.ThirdSoldbyDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 400px;
  margin-left: 100px;
}
.SoldByThirdChilds {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-right: 32px;
  width: 100px;
}
.SoldByRating {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding-top: 4px;
  padding-bottom: 6px;
  width: 65px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(125, 162, 249);
  fill: rgb(85, 133, 248);
  box-shadow: rgb(231, 238, 255) 0px 0px 0px 1px in;
}
.SoldByRating p {
  color: rgb(130, 164, 246);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.SoldByRating svg {
  margin-left: 4px;
  height: 10px;
  width: 10px;
  fill: rgb(85, 133, 248);
}
.SoldByRating svg path {
  fill: rgb(85, 133, 248);
}
.SoldByNumText {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 2px 0px;
}
.SoldByLastText {
  color: rgb(153, 153, 153);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin: 0px;
  padding: 4px 0px 0px;
}
